#grid {
    display: grid;
    grid-template-columns: repeat(25, 30px);
}

.gridElement {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 15px;
    font-size: 30px;
    text-align: center;
}

.inactive {
    background-color: rgba(255, 255, 255, 0.8);
    animation: lose;
    animation-duration: 1s
}

.active {
    background-color: black;
    animation: fill;
    animation-duration: 1s
}

@keyframes fill{
    0% {background-color: white;}
    25% {background-color: green;}
    65% {background-color: black;}
}

@keyframes lose{
    0% {background-color: black;}
    65% {background-color: red;}
    100% {background-color: white;}
}

body {
    background-color: beige
}

span{
    font-size: 25px;
}

button{
    font-size: 25px;
}

.outputElement{
    animation: fade;
    animation-duration: 0.75s;
    font-size: 18px;
}

@keyframes fade {
    0% {opacity: 0}
    25% {opacity: 0.25}
    50% {opacity: 0.5}
    75% {opacity: 0.75}
    100% {opacity: 1}
}

.negative{
    color:red;
    font-size: 18px;
}

.positive{
    color: green;
    font-size: 18px;
}

#outputLog {
    height: 100%; 
    width: 200px;
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: darkslategrey; /* Black */
    padding-top: 25px;
  }

#outputLog > #title {
    padding: 0px 0px 6px 16px;
    text-decoration: none;
    font-size: 26px;
    color: black;
    display: block;
}

#main {
    margin-left: 200px; 
    padding: 0px 10px;
  }